$color-white: #ffffff;
$color-light-gray: #C7CBD2;
$color-black-1: #111111;
$color-black-2: #333333;
$color-black-3: #666666;
$color-yellow: #ff901b;
$color-primary: #3e98d3;
$color-gray: #5C6275;
$color-gray-1: #8c8c8c;
$color-gray-2: #dddd;
$color-gray-3: #eeeeee;
$color-gray-4: #f7f7f7;
$color-gray-5: #f9f9f9f9;
$color-navy-blue: #252d47;
$color-light-purple: #a3a0fb;
$color-lighter-blue: #55d8fe;
$color-lighter-blue-1: #D5EDD5;
$color-teal: #13b19e;
$color-red: red;
$color-green: #5cb85c;
$color-green-1: #F8EAA6;
$color-orange: #FFECD8;
$color-pink: #F8DCDC;
