<div class="menu-container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="40px">
  <div class="menu-list" fxLayout="column" fxLayoutAlign="start start">
    <div (click)="onRoute(routeModule.ORDERS)" class="menu-item" [ngClass]="{'active': selected === routeModule.ORDERS}"> <span>ORDERS</span> </div>
    <div (click)="onRoute(routeModule.CROCKERY)" class="menu-item" [ngClass]="{'active': selected === routeModule.CROCKERY}"> <span>CROCKERY PICKUP/RETURN</span> </div>
    <div (click)="onRoute(routeModule.DELI)" class="menu-item" [ngClass]="{'active': selected === routeModule.DELI}"> <span>DELI PRODUCTS</span> </div>
    <div (click)="onRoute(routeModule.MENU)" class="menu-item" [ngClass]="{'active': selected === routeModule.MENU}"> <span>MENU ITEMS</span> </div>
    <div (click)="onRoute(routeModule.ANALYTIC)" class="menu-item" [ngClass]="{'active': selected === routeModule.ANALYTIC}"> <span>ANALYTICS</span> </div>
  </div>

  <div class="menu-list" fxLayout="column" fxLayoutAlign="start start">
    <div (click)="onRoute(routeModule.DELIVERY)" class="menu-item" [ngClass]="{'active': selected === routeModule.DELIVERY}"> <span>DELIVERY</span> </div>
    <div (click)="onRoute(routeModule.COLLECTION)" class="menu-item" [ngClass]="{'active': selected === routeModule.COLLECTION}"> <span>COLLECTION</span> </div>
  </div>
</div>