$color-white: #ffffff;
$color-light-gray: #C7CBD2;
$color-black-1: #111111;
$color-black-2: #333333;
$color-black-3: #666666;
$color-yellow: #fffdec;
$color-primary: #3e98d3;
$color-gray: #5C6275;
$color-gray-1: #8c8c8c;
$color-gray-2: #dddd;
$color-gray-3: #eeeeee;
$color-gray-4: #f7f7f7;
$color-gray-5: #f9f9f9f9;
$color-blue: #0064b1;
$color-red: red;
$color-green: #5cb85c;
$color-green-1: #F8EAA6;
$color-orange: #FFECD8;
$color-pink: #F8DCDC;
