@import url(http://fonts.googleapis.com/css?family=Barlow);

$body-font: 'Barlow', serif;

$gray-1: #E1E1E1;
$gray-2: #B2AFAF;
$border-gray-1: #707070;
$blue-1: #0064B1;
$orange-1: #E07700;
$black-1: #010101;
