@import "./styleguide/shared";
html,
body {
  margin: 0;
  width: 100%;
  outline: none;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  min-height: 100%;
  background-color: #f2f5f8;
  overflow: auto;
  color: $color-black-2;
}
a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
}